@model int

@if (Model > 0)
{
    <span class="position-absolute badge rounded-pill bg-danger"
          style="font-size: 0.6rem; top: 15%; left: 85%; transform: translate(-50%, -50%);">
        @Model
    </span>
}