<div class="modal fade" id="modalCambioEstado" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 border-0 shadow-lg">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold" id="modalTitulo">Cambiar Estado del Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="text-center py-3">
                    <div class="mb-3">
                        <i id="iconoEstado" class="display-4"></i>
                    </div>
                    <p id="mensajeCambioEstado" class="mb-0 fs-6"></p>
                </div>
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" id="botonIzquierdo" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="botonDerecho" class="btn">Confirmar</button>
            </div>
        </div>
    </div>
</div>