@using System.Security.Claims
@using TiendaOnline.Application.Carritos
@using TiendaOnline.Application.Common
@using TiendaOnline.Extensions
@using TiendaOnline.Features.Carritos

<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @AppSettings.GetValue("Diseno:NombreDelSitio")</title>

    <partial name="_TiendaSeoMeta" />

    <link rel="icon" type="image/x-icon" href="@AppSettings.GetValue("Diseno:FavIconUrl")" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />

    <partial name="_Theme" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <!-- Modo oscuro y claro -->
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="h-100 d-flex flex-column">

    <partial name="_TiendaHeader" />

    <main role="main">
        <div class="container">
            <partial name="_MensajeTempData" />
            @RenderBody()
        </div>
    </main>

    <partial name="_TiendaFooter" />

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
